@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
$fontVar: "Noto Sans KR", sans-serif;
$borderColor: #222;
$insideColor: #121212;
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: $fontVar;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
}
body,
html {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  & > section {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 270/1920 * 100vw 1fr;
    overflow: hidden;
    padding-top: 10/1920 * 100vw;
  }
}
aside {
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10/1920 * 100vw;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  & > * {
    border-radius: 10px;
  }
  h1 {
    padding: 10/1920 * 100vw;
    height: 100/1920 * 100vw;
    width: 100%;
    color: white;
    background-color: $insideColor;
    margin-bottom: 10/1920 * 100vw;
    font-size: 40/1920 * 100vw;
    line-height: 80/1920 * 100vw;
    font-weight: bold;
    & > img {
      height: 100%;
      float: left;
    }
  }
  nav {
    margin-bottom: 10/1920 * 100vw;
    width: 100%;
    height: 150/1920 * 100vw;
    background-color: $insideColor;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10/1920 * 100vw;
    & > p {
      font-size: 30/1920 * 100vw;
      * {
        font-size: 30/1920 * 100vw;
      }
    }
  }
  .library {
    width: 100%;
    flex-grow: 1;
    background-color: $insideColor;
    padding-top: 10/1920 * 100vw;
    overflow-y: auto;
    & > div {
      width: 100%;
      height: 50/1920 * 100vw;
      margin-bottom: 10/1920 * 100vw;
      padding-left: 5/1920 * 100vw;
      overflow: hidden;
      & > div {
        height: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        & > p {
          color: white;
        }
      }
      .singerBG {
        border-radius: 10px;
        width: 50/1920 * 100vw;
        height: 50/1920 * 100vw;
        margin-right: 5/1920 * 100vw;
        background-image: linear-gradient(blue, pink);
        //이거 js로 랜덤으로 줄거임
        background-position: center;
        padding: 6/1920 * 100vw;
        img {
          height: 100%;
        }
      }
      .libraryTitle {
        font-size: 15/1920 * 100vw;
      }
      .makerName {
        font-size: 12/1920 * 100vw;
        color: rgba($color: white, $alpha: 0.6);
      }
    }
  }
}
main {
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
  background-color: $insideColor;
  margin-right: 10/1920 * 100vw;
  margin-bottom: 0;
  border-radius: 10/1920 * 100vw;
  overflow: hidden;
  nav {
    height: 80/1920 * 100vw;
    width: 100%;
    padding: 15/1920 * 100vw;
    .userIcon {
      width: 250/1920 * 100vw;
      height: 50/1920 * 100vw;
      background-color: white;
      float: right;
      padding: 8/1920 * 100vw;
      border-radius: 30px;
      border: 1px solid #777;
      img {
        border-radius: 50%;
        height: 100%;
        float: left;
        margin-right: 10/1920 * 100vw;
      }
      .userName {
        color: black;
        font-size: 30/1920 * 100vw;
        font-weight: bold;
        line-height: 28/1920 * 100vw;
        float: left;
      }
    }
  }
  .mainItem {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    & > .firstBox {
      width: 100%;
      height: 270/1920 * 100vw;
      margin-bottom: 10/1920 * 100vw;
      padding-left: 15/1920 * 100vw;
      padding-top: 20/1920 * 100vw;
      & > div {
        flex-grow: 1;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-between;
        padding-right: 10/1920 * 100vw;
        & > div {
          width: 510/1920 * 100vw;
          height: 74/1920 * 100vw;
          background-color: rgba($color: darkgray, $alpha: 0.4);
          border-radius: 10px;
          overflow: hidden;
          & > .imgDiv {
            height: 74/1920 * 100vw;
            width: 74/1920 * 100vw;
            background-image: url("../img/backgroundImg_testing.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            float: left;
            margin-right: 10/1920 * 100vw;
          }
          & > p {
            line-height: 68/1920 * 100vw;
            font-size: 25/1920 * 100vw;
            color: white;
            float: left;
          }
        }
      }
    }
    & > .secondBox {
      margin-bottom: 10/1920 * 100vw;
      padding-left: 15/1920 * 100vw;
      & > div {
        justify-content: space-evenly;
        & > div {
          width: 215/1920 * 100vw;
          height: 300/1920 * 100vw;
          border-radius: 15px;
          background-color: rgba($color: darkgray, $alpha: 0.4);
          overflow: hidden;
          padding: 10/1920 * 100vw;
          padding-top: 10/1920 * 100vw;
          & > .imgDiv {
            width: 195/1920 * 100vw;
            height: 200/1920 * 100vw;
            background-image: url("../img/testingImg.jpeg");
            border-radius: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .mainP {
            font-size: 20/1920 * 100vw;
            margin-bottom: 5/1920 * 100vw;
          }
          p {
            color: white;
            font-size: 15/1920 * 100vw;
          }
        }
      }
    }
    h2 {
      font-size: 45/1920 * 100vw;
      color: white;
      margin-bottom: 10/1920 * 100vw;
    }
    h3 {
      font-size: 35/1920 * 100vw;
      color: white;
      margin-bottom: 10/1920 * 100vw;
    }
  }
}
.borderRadius50 {
  border-radius: 50% !important;
}
.playBar {
  width: 100%;
  height: 10%;
  .musicInfo {
    width: 270/1920 * 100vw;
    float: left;
    height: 100%;
    padding: 20/1920 * 100vw;
    .musicPhoto {
      float: left;
      height: 57.5/1920 * 100vw;
      width: 57.5/1920 * 100vw;
      background-image: url("../img/music_logo_testing.png");
      background-size: cover;
      background-position: center;
      border-radius: 15px;
      margin-right: 10/1920 * 100vw;
    }
    .musicTitle {
      font-size: 20/1920 * 100vw;
      //line-height: 57.5/1920 * 100vw;
      overflow: hidden;
      height: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: white;
      p {
        font-size: 12/1920 * 100vw;
      }
    }
  }
  .audioController {
    display: grid;
    grid-template-columns: 3fr 1fr;
    .rangeBarBox {
      padding: 10/1920 * 100vw;
      height: 100%;
      text-align: center;
      .pauseStartBox {
        color: white;
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        margin: auto;
        margin-bottom: 5/1920 * 100vw;
        * {
          font-size: 30/1920 * 100vw;
        }
      }
      .rangeBar {
        width: 60%;
        display: inline-block;
      }
    }
    .soundOption {
      height: 100%;
      padding: 10/1920 * 100vw;
      text-align: right;
      padding-right: 40/1920 * 100vw;
      * {
        line-height: 77/1920 * 100vw;
        color: white;
        font-size: 25/1920 * 100vw;
        margin-right: 10px;
      }
      input {
        width: 30%;
      }
    }
  }
}
.controller {
  float: left;
  height: 100%;
  i {
    color: white;
    margin-right: 20/1920 * 100vw;
    font-size: 40/1920 * 100vw;
  }
}
.searchBar {
  float: left;
  width: 500/1920 * 100vw;
  height: 50/1920 * 100vw;
  border-radius: 30px;
  background-color: #242424;
  border: none;
  padding: 10/1920 * 100vw;
  font-size: 20px;
  color: white;
  &:hover {
    background-color: #2a2a2a;
    outline: 2px solid #414141;
  }
  &:focus {
    outline: 3px solid white;
    background-color: #2a2a2a;
  }
  &::placeholder {
    background-image: url("../img/search-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10/1920 * 100vw;
    padding-left: 45/1920 * 100vw;
  }
}
.navSelect > * {
  color: white;
}
.flexBox {
  display: flex;
}
.flexDirectionColumn {
  flex-direction: column;
}
.flexDirectionRow {
  flex-direction: row;
}
.click {
  &:hover {
    cursor: pointer;
  }
}
.selectClick {
  color: darken($color: white, $amount: 50);
}
.hoverLighten {
  &:hover {
    background-color: lighten(
      $color: rgba(darkgray, 0.4),
      $amount: 30
    ) !important;
  }
}
.transitionClass {
  transition: all 0.3s;
  &:hover {
    transition: all 0.3s;
  }
}
.hoverCursor {
  &:hover {
    cursor: pointer;
  }
}
.playList {
  display: flex;
  flex-direction: column;
  .playListItem {
    height: 50/1920 * 100vw;
    width: 100%;
    padding-left: 10/1920 * 100vw;
    margin-bottom: 10/1920 * 100vw;
    cursor: pointer;
    & > * {
      float: left;
      margin-left: 10/1920 * 100vw;
    }
    .playListItemImg {
      width: 50/1920 * 100vw;
      height: 100%;
      background-image: url("../img/dev-jeans.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
    }
    .playListItemTitle {
      height: 100%;
      line-height: 50/1920 * 100vw;
      font-size: 20/1920 * 100vw;
      color: white;
    }
    .playListSinger {
      font-size: 15/1920 * 100vw;
      line-height: 50/1920 * 100vw;
      color: white;
    }
  }
}
.overflowScroll {
  overflow-y: scroll;
}
.playBarFalse {
  color: darken($color: white, $amount: 50);
}
.cancelButton {
  color: white;
  float: right !important;
  font-size: 30/1920 * 100vw;
  margin-right: 10px;
  line-height: 50/1920 * 100vw;
}
.margin-left10 {
  margin-left: 10/1920 * 100vw;
}
